<div class="grid  overflow-hidden ">

    <p-card [style]="{'height': 'min-content'}" *ngFor="let user of users,let i=index"  [class]="user.expanded?'col-8 notExpand  card ':'col-4  card'" (click)="toggleCard(user)">
        <div style="text-align: start;">
            <div class="flex  justify-content-between">
                <div class="flex align-items-end flex-row">
                    <p-avatar [image]="user.photo" styleClass="mr-2 border-circle" 
                    size="normal"   pBadge [severity]="user.availableNow?'success':'danger'" />
                    <div>
                        <div class="m-0">{{ user.name }}, {{ user.age }} <p-chip
                                [style]="{'font-size':'9px','color':'rgb(112 15 255)','background-color':'#e6caf1'}"
                                [label]="user.gender" /></div>
                        <div>
                            <i class="pi pi-clock"></i>
                            <small style="background-color: #ded2ff2b"
                                [class]="user.availableNow?'sucsss':'text-500'">
                                {{ user.availability }}</small>
                        </div>
                    </div>
                </div>
                <div>
                    <p-button  [icon]="user.availableNow?'pi pi-phone':'pi pi-bell'"
                        [style]="{'border-radius':'100%'}" />
                        
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="col-6 p-0 flex" style="gap: 10px;">
                    <p-chip *ngFor="let problem of user.problems"
                        [style]="{'font-size':'9px','color':'rgb(112 15 255)','background-color':'#ded2ff2b'}"
                        [label]="problem.name" />
                </div>
                <p class="white-space-nowrap text-overflow-ellipsis overflow-hidden">{{user.bio}} </p>
            </div>
        </div>
        <div   *ngIf="user.expanded">
            <div class="col-8 p-0 flex flex-row">
                <div class="col-4 p-0 align-items-center flex flex-column"
                    style="margin-inline: 1rem;border-radius: 7%;background-color: #ded2ff2b "
                    *ngFor="let status of user.status ">
                    <i [class]="status.icon" style="color: #7f00ff;"></i>
                    <h5 style="margin-block: 1rem;">{{status.name}}</h5>
                    <h5 style="margin-block: 1rem;">{{status.value}}</h5>
                </div>

            </div>
            <div class="col-12 p-0">
                <div class="col-2 p-0 flex align-items-baseline gap-1 ">
                    <i class="pi pi-calendar"></i>
                    <h4>Avilabele</h4>
                </div>
                <div class="col-12 p-0 flex flex-wrap">
                    <div class="flex align-content-center  flex-row flex-wrap gap-1 col-4 mt-1" style="height: 3rem;"
                        *ngFor="let time of user.availableTime ">
                        <h5>{{time.day}}: </h5>
                        <h5>{{time.fromTime}} - {{time.ToTime}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="flex align-items-baseline gap-1 ">
                    <h4>Languges</h4>
                </div>
                <div class="flex flex-wrap">
                    <div class=" flex" style="gap: 10px;">
                        <p-chip *ngFor="let lang of user.languages"
                            [style]="{'font-size':'9px','color':'rgb(112 15 255)','background-color':'#ded2ff2b'}"
                            [label]="lang" />
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>
