.card{
  transition: all 0.3s ease;
  position: relative;
  overflow-x: hidden;
  height: fit-content;
  
}
::ng-deep img{
  
  border-radius: 50%;
}
::ng-deep .p-overlay-badge .p-badge{
  
 top:79%;
}

.sucsss{
  color: #22c55d;
}

.card:hover {
  transform: scale(1.03);
  z-index: 1; /* optional: brings hovered card forward */
}

.notExpand{
  transform: none !important;
  
}

